Repository janosh/pymatviz, pull requests merged in 2024-05, with the labels that each got.

#139 Remove text background and fix z-order in `structure_viz`
  assets/matbench-phonons-structures-2d.svg
  assets/struct-2d-mp-12712-Hf9Zr9Pd24-disordered.svg
  assets/struct-2d-mp-19017-Li4Mn0.8Fe1.6P4C1.6O16-disordered.svg
  examples/_generate_assets.py
  pymatviz/structure_viz.py
  pymatviz/utils.py
  pyproject.toml
  tests/test_structure_viz.py
Labels: fix, structure

#140 Add keyword `hide_f_block: bool = None` (La and Ac series) to `ptable` plotters
  assets/ptable-heatmap-splits.svg
  examples/_generate_assets.py
  pymatviz/ptable.py
  readme.md
  tests/test_ptable.py
Labels: enhancement, ptable

#143 Add `pymatviz/enums.py` for SSOT on dataframe column and dict key names
  examples/_generate_assets.py
  examples/dataset_exploration/camd_2022/explore_camd_2022.py
  examples/dataset_exploration/matbench/dielectric/explore_dielectric.py
  examples/dataset_exploration/matbench/expt_gap/explore_expt_gap.py
  examples/dataset_exploration/matbench/jdft2d/explore_jdft2d.py
  examples/dataset_exploration/matbench/log_g+kvrh/explore_log_g+krvh.py
  examples/dataset_exploration/matbench/mp_e_form/explore_mp_e_form.py
  examples/dataset_exploration/matbench/mp_gap/explore_mp_gap.py
  examples/dataset_exploration/matbench/perovskites/explore_perovskites.py
  examples/dataset_exploration/matbench/phonons/explore_phonons.py
  examples/dataset_exploration/ricci_carrier_transport/convert_dtype+add_strucs.py
  examples/dataset_exploration/ricci_carrier_transport/explore_carrier_transport.py
  examples/dataset_exploration/wbm/explore_wbm.py
  examples/matbench_dielectric_eda.ipynb
  examples/matbench_perovskites_eda.ipynb
  examples/mp_bimodal_e_form.ipynb
  examples/mprester_ptable.ipynb
  pymatviz/__init__.py
  pymatviz/enums.py
  pymatviz/histograms.py
  pymatviz/ptable.py
  pymatviz/sunburst.py
  pyproject.toml
  tests/test_init.py
  tests/test_ptable.py
Labels: housekeeping, linting, dx

#144 Add `mlff_phonons.ipynb` example notebook
  examples/mlff_phonons.ipynb
  pymatviz/enums.py
  pymatviz/phonons.py
  pymatviz/ptable.py
  readme.md
  tests/test_enums.py
  tests/test_phonons.py
  tests/test_ptable.py
Labels: docs, enhancement, phonons

#146 Fix `ptable_heatmap_splits` `TypeErrors`
  .gitignore
  examples/mlff_phonons.ipynb
  pymatviz/correlation.py
  pymatviz/enums.py
  pymatviz/histograms.py
  pymatviz/io.py
  pymatviz/parity.py
  pymatviz/phonons.py
  pymatviz/powerups.py
  pymatviz/ptable.py
  pymatviz/sankey.py
  pymatviz/structure_viz.py
  pymatviz/sunburst.py
  pymatviz/uncertainty.py
  pymatviz/utils.py
  pyproject.toml
  tests/test_enums.py
  tests/test_io.py
  tests/test_ptable.py
  tests/test_sankey.py
  tests/test_utils.py
Labels: matplotlib, fix, ptable

#147 MatPES EDA script
  examples/dataset_exploration/matpes/eda.py
  pymatviz/__init__.py
  pymatviz/enums.py
  pymatviz/powerups.py
  pymatviz/ptable.py
  pymatviz/structure_viz.py
  tests/test_powerups.py
  tests/test_ptable.py
  tests/test_sankey.py
  tests/test_structure_viz.py
Labels: enhancement, fix, examples

#148 Add keyword `log: bool = False` to `spacegroup_hist` to log scale y-axis
  .github/workflows/gh-pages.yml
  .gitignore
  .pre-commit-config.yaml
  examples/dataset_exploration/matpes/eda.py
  examples/make_assets/phonons.py
  pymatviz/enums.py
  pymatviz/histograms.py
  pymatviz/powerups.py
  pymatviz/ptable.py
  pymatviz/structure_viz.py
  pymatviz/utils.py
  pyproject.toml
  site/package.json
  tests/test_histograms.py
  tests/test_phonons.py
  tests/test_ptable.py
  tests/test_structure_viz.py
  tests/test_utils.py
Labels: enhancement, testing, fix

#149 [Enhancement/Breaking] Refactor `ptable_hists`
  .gitignore
  assets/ptable-hists.svg
  examples/make_assets/ptable.py
  pymatviz/io.py
  pymatviz/ptable.py
  pymatviz/utils.py
  tests/test_ptable.py
Labels: enhancement, breaking, ptable

#152 Handle missing value (NaN) and infinity for ptable data
  examples/dataset_exploration/matpes/eda.py
  examples/dataset_exploration/ricci_carrier_transport/convert_dtype+add_strucs.py
  examples/matbench_dielectric_eda.ipynb
  pymatviz/_preprocess_data.py
  pymatviz/ptable.py
  pyproject.toml
  tests/test_preprocess_data.py
  tests/test_ptable.py
Labels: enhancement, ptable, pandas

#154 Fix `PTableProjector.hide_f_block` property
  examples/dataset_exploration/matpes/eda.py
  pymatviz/ptable.py
  tests/test_ptable.py
Labels: fix, ptable
