Repository janosh/pymatviz, pull requests merged in 2024-10, with the labels that each got.

#218 `structure_(2|3)d_plotly` allow overriding subplot title's y position and anchor
  .pre-commit-config.yaml
  examples/diatomics/plot.py
  examples/make_assets/ptable/ptable_plotly.py
  examples/make_assets/ptable/vasp-pbe-64-n-val-elecs.yml
  pymatviz/histogram.py
  pymatviz/rdf.py
  pymatviz/structure_viz/mpl.py
  pymatviz/structure_viz/plotly.py
  pymatviz/utils.py
  pymatviz/xrd.py
  tests/conftest.py
  tests/structure_viz/test_plotly.py
Labels: plotly, linting, fix, structure

#219 Render spheres with hover tooltip on unit cell corners in `pmv.structure_(2|3)d_plotly`
  examples/make_assets/ptable/ptable_plotly.py
  examples/make_assets/structure_viz.py
  pymatviz/scatter.py
  pymatviz/structure_viz/helpers.py
  pymatviz/structure_viz/plotly.py
  tests/structure_viz/test_helpers.py
  tests/structure_viz/test_mpl.py
  tests/structure_viz/test_plotly.py
  tests/test_rdf.py
Labels: enhancement, plotly, structure

#200 Add `add_annotation` functionality for ptable plotters
  assets/ptable-hists.svg
  assets/ptable-lines.svg
  assets/ptable-scatters-parity.svg
  examples/make_assets/ptable/ptable_matplotlib.py
  pymatviz/correlation.py
  pymatviz/io.py
  pymatviz/powerups/__init__.py
  pymatviz/powerups/both.py
  pymatviz/powerups/matplotlib.py
  pymatviz/powerups/plotly.py
  pymatviz/ptable/_projector.py
  pymatviz/ptable/ptable_matplotlib.py
  pymatviz/ptable/ptable_plotly.py
  pymatviz/rdf.py
  pymatviz/structure_viz/__init__.py
  pymatviz/templates.py
  pymatviz/uncertainty.py
  pymatviz/utils.py
  site/make_docs.py
  tests/ptable/test_ptable_matplotlib.py
  tests/ptable/test_ptable_projector.py
  tests/test_process_data.py
  tests/test_rdf.py
  tests/test_readme.py
Labels: matplotlib, ptable

#220 Support plotting site vectors like forces/magmoms in `structure_(2|3)d_plotly`
  pymatviz/structure_viz/helpers.py
  pymatviz/structure_viz/plotly.py
  tests/structure_viz/test_helpers.py
  tests/structure_viz/test_plotly.py
Labels: enhancement, plotly, structure

#210 add scaling_factor to pymatviz/ptable/ptable_plotly.py
  pymatviz/ptable/ptable_plotly.py
  tests/ptable/test_ptable_plotly.py
Labels: plotly, ptable

#223 Vertically/horizontally stacked XRD plots
  assets/xrd-pattern-horizontal-stack.svg
  assets/xrd-pattern-vertical-stack.svg
  examples/make_assets/xrd.py
  pymatviz/rdf.py
  pymatviz/structure_viz/helpers.py
  pymatviz/xrd.py
  readme.md
  tests/test_xrd.py
Labels: enhancement, plotly, xrd

#224 use `pytest-split` in GitHub Action
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/.pytest-split-durations
  tests/test_templates.py
  tests/test_utils.py
Labels: testing, dx, ci

#227 Rainclouds
  .pre-commit-config.yaml
  assets/rainclouds-bimodal.svg
  assets/rainclouds-trimodal.svg
  examples/make_assets/rainclouds.py
  pymatviz/__init__.py
  pymatviz/rainclouds.py
  readme.md
  tests/conftest.py
  tests/test_pkg.py
  tests/test_rainclouds.py
  tests/test_utils.py
Labels: plotly, feature

#228 Custom site hover texts in `pmv.structure_(2|3)d_plotly`
  examples/make_assets/structure_viz.py
  pymatviz/enums.py
  pymatviz/structure_viz/helpers.py
  pymatviz/structure_viz/plotly.py
  tests/structure_viz/test_helpers.py
  tests/structure_viz/test_plotly.py
Labels: enhancement, plotly, structure

#229 Delete `correlation.py` module
  assets/marchenko-pastur-rank-deficient.svg
  assets/marchenko-pastur-significant-eval.svg
  assets/marchenko-pastur.svg
  examples/make_assets/correlation.py
  pymatviz/__init__.py
  pymatviz/correlation.py
  readme.md
  tests/.pytest-split-durations
  tests/test_correlation.py
Labels: housekeeping, breaking, pkg

#233 Experimental: add `show_bonds: bool | NearNeighbors = False` to `structure_(2|3)d_plotly`
  examples/make_assets/rdf.py
  pymatviz/enums.py
  pymatviz/ptable/ptable_plotly.py
  pymatviz/rdf.py
  pymatviz/structure_viz/helpers.py
  pymatviz/structure_viz/plotly.py
  tests/.pytest-split-durations
  tests/ptable/test_ptable_plotly.py
  tests/structure_viz/test_helpers.py
  tests/structure_viz/test_plotly.py
  tests/test_templates.py
Labels: enhancement, plotly, structure

#234 Add `full_rdf`
  examples/make_assets/rdf.py
  pymatviz/__init__.py
  pymatviz/rdf/__init__.py
  pymatviz/rdf/helpers.py
  pymatviz/rdf/plotly.py
  pymatviz/structure_viz/helpers.py
  pymatviz/structure_viz/plotly.py
  tests/rdf/test_rdf_helpers.py
  tests/rdf/test_rdf_plotly.py
  tests/structure_viz/test_structure_viz_helpers.py
  tests/structure_viz/test_structure_viz_mpl.py
  tests/structure_viz/test_structure_viz_plotly.py
Labels: enhancement, plotly, rdf

#235 Coordination number histograms
  assets/coordination-hist-by-structure-and-element.svg
  assets/coordination-hist-single.svg
  examples/make_assets/coordination.py
  pymatviz/__init__.py
  pymatviz/coordination.py
  readme.md
  tests/rdf/test_rdf_helpers.py
  tests/test_coordination.py
Labels: plotly, feature, local env

#231 Reduce duplicate in dependency declare
  pyproject.toml
Labels: pkg

#236 Add `coordination_vs_cutoff_line` plot function
  assets/coordination-vs-cutoff-multiple.svg
  assets/coordination-vs-cutoff-single.svg
  examples/make_assets/coordination.py
  pymatviz/__init__.py
  pymatviz/coordination.py
  pymatviz/rdf/helpers.py
  pymatviz/rdf/plotly.py
  pymatviz/utils.py
  readme.md
  tests/rdf/test_rdf_helpers.py
  tests/rdf/test_rdf_plotly.py
  tests/test_coordination.py
  tests/test_utils.py
Labels: enhancement, plotly, local env

#237 Fix `/api` docs by migrating to `remark`/`rehype`
  .github/workflows/release.yml
  assets/homo-nuclear-mace-medium.svg
  pymatviz/rdf/__init__.py
  readme.md
  site/eslint.config.js
  site/package.json
  site/src/app.css
  site/src/app.html
  site/src/routes/api/+page.server.ts
  site/src/routes/api/+page.svelte
  site/svelte.config.js
Labels: docs, fix
