Repository janosh/pymatviz, pull requests merged in 2024-07, with the labels that each got.

#170 Fix `count_elements` for series of `Composition`
  examples/dataset_exploration/camd_2022/explore_camd_2022.py
  examples/dataset_exploration/matbench/dielectric/explore_dielectric.py
  examples/dataset_exploration/matbench/expt_gap/explore_expt_gap.py
  examples/dataset_exploration/matbench/jdft2d/explore_jdft2d.py
  examples/dataset_exploration/matbench/log_g+kvrh/explore_log_g+krvh.py
  examples/dataset_exploration/matbench/perovskites/explore_perovskites.py
  examples/dataset_exploration/matbench/phonons/explore_phonons.py
  examples/dataset_exploration/matbench/steels/explore_steels.py
  examples/dataset_exploration/matpes/eda.py
  examples/dataset_exploration/ricci_carrier_transport/explore_carrier_transport.py
  examples/dataset_exploration/wbm/explore_wbm.py
  examples/make_assets/histogram.py
  examples/make_assets/ptable.py
  examples/make_assets/symmetry.py
  examples/matbench_dielectric_eda.ipynb
  examples/matbench_perovskites_eda.ipynb
  pymatviz/enums.py
  pymatviz/ptable.py
  pymatviz/sunburst.py
  pymatviz/xrd.py
  pyproject.toml
  tests/ptable/test_count_elements.py
  tests/ptable/test_ptable_matplotlib.py
  tests/ptable/test_ptable_plotly.py
Labels: testing, fix, ptable

#172 Fix `log_density` in `density_scatter_plotly`
  .pre-commit-config.yaml
  examples/make_assets/histogram.py
  examples/make_assets/powerups.py
  pymatviz/histograms.py
  pymatviz/powerups/both.py
  pymatviz/scatter.py
  pymatviz/utils.py
  tests/powerups/test_both_powerups.py
  tests/test_histograms.py
  tests/test_scatter.py
  tests/test_utils.py
Labels: plotly, fix, scatter

#173 Fix missing keys `Te` + `Nd` in `ELEM_COLORS_VESTA` and support it in `plot_structure_2d`
  examples/dataset_exploration/matpes/eda.py
  examples/make_assets/structure_viz.py
  pymatviz/__init__.py
  pymatviz/colors.py
  pymatviz/enums.py
  pymatviz/histograms.py
  pymatviz/process_data.py
  pymatviz/ptable/__init__.py
  pymatviz/ptable/_process_data.py
  pymatviz/ptable/matplotlib.py
  pymatviz/ptable/plotly.py
  pymatviz/structure_viz.py
  pymatviz/utils.py
  readme.md
  tests/ptable/test_process_data.py
  tests/ptable/test_ptable_matplotlib.py
  tests/ptable/test_ptable_plotly.py
  tests/test_histograms.py
  tests/test_process_data.py
  tests/test_structure_viz.py
Labels: matplotlib, breaking, structure, colors

#174 Fix `ptable_heatmap_plotly` for `log=True`
  assets/ptable-heatmap-plotly-log.svg
  assets/ptable-heatmap-plotly-more-hover-data.svg
  examples/make_assets/ptable/ptable_matplotlib.py
  examples/make_assets/ptable/ptable_plotly.py
  pymatviz/enums.py
  pymatviz/ptable/__init__.py
  pymatviz/ptable/ptable_matplotlib.py
  pymatviz/ptable/ptable_plotly.py
  readme.md
  tests/ptable/test_ptable_matplotlib.py
  tests/ptable/test_ptable_plotly.py
  tests/test_enums.py
Labels: plotly, fix, ptable, examples

#177 Fix unit test for ptable plotly
  tests/ptable/test_ptable_plotly.py
Labels: fix, ci

#178 Better default `ptable_heatmap_plotly` tooltips
  examples/dataset_exploration/matbench/dielectric/explore_dielectric.py
  examples/dataset_exploration/matbench/expt_gap/explore_expt_gap.py
  examples/dataset_exploration/matbench/log_g+kvrh/explore_log_g+krvh.py
  examples/dataset_exploration/ricci_carrier_transport/convert_dtype+add_strucs.py
  examples/make_assets/ptable/ptable_matplotlib.py
  examples/make_assets/ptable/ptable_plotly.py
  pymatviz/__init__.py
  pymatviz/elements.csv
  pymatviz/enums.py
  pymatviz/process_data.py
  pymatviz/ptable/ptable_matplotlib.py
  pymatviz/ptable/ptable_plotly.py
  pymatviz/structure_viz.py
  pymatviz/utils.py
  tests/ptable/test_ptable_matplotlib.py
  tests/ptable/test_ptable_plotly.py
Labels: enhancement, testing, plotly, ptable

#179 Add `pymatviz.io.df_to_svg`
  .pre-commit-config.yaml
  pymatviz/enums.py
  pymatviz/io.py
  pyproject.toml
  tests/test_io.py
Labels: enhancement, matplotlib, breaking, io

#180 Fix ptable scatter examples in homepage
  .github/workflows/svgo.yml
  .pre-commit-config.yaml
  assets/ptable-scatters-parabola.svg
  assets/ptable-scatters-parity.svg
  pymatviz/enums.py
  pymatviz/io.py
  tests/test_enums.py
Labels: docs

#157 [Breaking] Refactor ptable heatmap plotter
  .pre-commit-config.yaml
  assets/ptable-heatmap-atomic-mass.svg
  assets/ptable-heatmap-percent.svg
  assets/ptable-heatmap-ratio.svg
  assets/ptable-heatmap.svg
  examples/dataset_exploration/boltztrap_mp/boltztrap_mp-ptable-heatmap.pdf
  examples/dataset_exploration/boltztrap_mp/explore_boltztrap_mp.py
  examples/dataset_exploration/camd_2022/camd-2022-ptable-heatmap.pdf
  examples/dataset_exploration/camd_2022/explore_camd_2022.py
  examples/dataset_exploration/matbench/dielectric/dielectric-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/dielectric/explore_dielectric.py
  examples/dataset_exploration/matbench/expt_gap/explore_expt_gap.py
  examples/dataset_exploration/matbench/expt_gap/expt-gap-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/jdft2d/explore_jdft2d.py
  examples/dataset_exploration/matbench/jdft2d/jdft2d-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/log_g+kvrh/explore_log_g+krvh.py
  examples/dataset_exploration/matbench/log_g+kvrh/log_gvrh-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/mp_e_form/explore_mp_e_form.py
  examples/dataset_exploration/matbench/mp_e_form/mp_e_form-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/mp_gap/explore_mp_gap.py
  examples/dataset_exploration/matbench/perovskites/explore_perovskites.py
  examples/dataset_exploration/matbench/perovskites/perovskites-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/phonons/explore_phonons.py
  examples/dataset_exploration/matbench/phonons/phonons-ptable-heatmap.pdf
  examples/dataset_exploration/matbench/steels/explore_steels.py
  examples/dataset_exploration/matpes/eda.py
  examples/dataset_exploration/ricci_carrier_transport/carrier-transport-ptable-heatmap.pdf
  examples/dataset_exploration/ricci_carrier_transport/explore_carrier_transport.py
  examples/make_assets/ptable/ptable_matplotlib.py
  examples/matbench_dielectric_eda.ipynb
  examples/mprester_ptable.ipynb
  pymatviz/ptable/_process_data.py
  pymatviz/ptable/_projector.py
  pymatviz/ptable/ptable_matplotlib.py
  pymatviz/utils.py
  tests/ptable/test_process_data.py
  tests/ptable/test_ptable_data.py
  tests/ptable/test_ptable_matplotlib.py
  tests/ptable/test_ptable_projector.py
  tests/test_utils.py
Labels: enhancement, matplotlib, breaking, ptable

#185 Add protostructure terminology to enum
  pymatviz/enums.py
  pymatviz/structure_viz.py
  tests/test_enums.py
  tests/test_structure_viz.py
Labels: enhancement, dx

#189 Breaking: drop `plot_` prefix from multiple functions
  .pre-commit-config.yaml
  examples/dataset_exploration/matbench/dielectric/explore_dielectric.py
  examples/dataset_exploration/matbench/jdft2d/explore_jdft2d.py
  examples/dataset_exploration/matbench/log_g+kvrh/explore_log_g+krvh.py
  examples/dataset_exploration/matbench/perovskites/explore_perovskites.py
  examples/dataset_exploration/matbench/phonons/explore_phonons.py
  examples/dataset_exploration/matpes/eda.py
  examples/dataset_exploration/ricci_carrier_transport/explore_carrier_transport.py
  examples/make_assets/histogram.py
  examples/make_assets/phonons.py
  examples/make_assets/powerups.py
  examples/make_assets/structure_viz.py
  examples/make_assets/xrd.py
  examples/matbench_dielectric_eda.ipynb
  pymatviz/__init__.py
  pymatviz/bar.py
  pymatviz/histogram.py
  pymatviz/phonons.py
  pymatviz/structure_viz.py
  pymatviz/xrd.py
  readme.md
  tests/test_bar.py
  tests/test_histogram.py
  tests/test_phonons.py
  tests/test_structure_viz.py
  tests/test_xrd.py
Labels: breaking, api

#190 `density_scatter_plotly` QoL tweaks
  pymatviz/enums.py
  pymatviz/scatter.py
  pymatviz/utils.py
  readme.md
  tests/test_scatter.py
  tests/test_utils.py
Labels: enhancement, plotly, scatter
