Repository janosh/pymatviz, pull requests merged in 2024-02, with the labels that each got.

#122 Add ptable_scatter
  .gitignore
  .pre-commit-config.yaml
  assets/ptable-hists.svg
  assets/ptable-scatters.svg
  examples/_generate_assets.py
  pymatviz/__init__.py
  pymatviz/ptable.py
  readme.md
  site/src/routes/+layout.svelte
  site/static/favicon.svg
  tests/test_ptable.py
  tests/test_readme.py
Labels: enhancement, matplotlib, ptable

#123 Breaking: rename custom plotly template `pymatviz_(black->dark)`
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  examples/_generate_assets.py
  examples/dataset_exploration/readme.md
  pymatviz/__init__.py
  pymatviz/io.py
  pyproject.toml
  readme.md
  site/package.json
  site/src/app.html
  site/src/routes/+layout.svelte
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/plots/+page.svelte
  site/svelte.config.js
  site/tsconfig.json
  tests/test_init.py
  tests/test_io.py
  tests/test_readme.py
Labels: plotly, breaking, api, pandas

#124 `plot_phonon_bands()` add kwargs `branch_mode: "union" | "intersection" = "union"` and `branches: Sequence[str] = ()`
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  examples/_generate_assets.py
  pymatviz/__init__.py
  pymatviz/io.py
  pymatviz/phonons.py
  pymatviz/ptable.py
  pymatviz/utils.py
  pyproject.toml
  readme.md
  site/tsconfig.json
  tests/test_phonons.py
  tests/test_utils.py
Labels: enhancement, phonons
