Repository janosh/pymatviz, pull requests merged in 2024-06, with the labels that each got.

#156 Support passing sequence of structures to `plot_structure_2d()` to be plotted in grid
  .pre-commit-config.yaml
  examples/dataset_exploration/matbench/perovskites/explore_perovskites.py
  examples/make_assets/structure_viz.py
  examples/matbench_perovskites_eda.ipynb
  pymatviz/structure_viz.py
  tests/test_preprocess_data.py
  tests/test_structure_viz.py
Labels: enhancement, matplotlib, structure

#155 `ptable_scatters` allow 3rd data dimension for colormap
  .pre-commit-config.yaml
  assets/ptable-scatters-parabola.svg
  assets/ptable-scatters-parity.svg
  assets/ptable-scatters.svg
  examples/diatomics/homo-nuclear-mace-medium.svg
  examples/diatomics/plot.py
  examples/make_assets/ptable.py
  pymatviz/colors.py
  pymatviz/enums.py
  pymatviz/histograms.py
  pymatviz/ptable.py
  pymatviz/structure_viz.py
  pymatviz/utils.py
  readme.md
  tests/test_ptable.py
Labels: enhancement, matplotlib, ptable

#158 Fix `ptable_heatmap_ratio` legend
  assets/ptable-heatmap-ratio.svg
  assets/ptable-scatters-parabola.svg
  assets/ptable-scatters-parity.svg
  assets/struct-2d-mp-12712-Hf9Zr9Pd24-disordered.svg
  assets/struct-2d-mp-19017-Li4Mn0.8Fe1.6P4C1.6O16-disordered.svg
  examples/make_assets/ptable.py
  pymatviz/ptable.py
  tests/test_ptable.py
Labels: matplotlib, fix, ptable

#159 Add `pymatviz.histogram.plot_histogram`
  assets/elements-hist.svg
  assets/matbench-expt-gap-hist.svg
  assets/true-pred-hist.svg
  examples/make_assets/histogram.py
  pymatviz/__init__.py
  pymatviz/histograms.py
  pymatviz/templates.py
  readme.md
  tests/test_histograms.py
  tests/test_powerups.py
  tests/test_templates.py
  tests/test_utils.py
Labels: enhancement, plotly, matplotlib, breaking, histograms

#161 `density_scatter_plotly()`
  assets/density-scatter-plotly-blobs.svg
  assets/density-scatter-plotly.svg
  assets/density-scatter.svg
  assets/ptable-scatters-parabola.svg
  assets/ptable-scatters-parity.svg
  examples/make_assets/scatter.py
  pymatviz/__init__.py
  pymatviz/enums.py
  pymatviz/histograms.py
  pymatviz/powerups.py
  pymatviz/scatter.py
  pymatviz/utils.py
  readme.md
  site/src/routes/[slug]/parity/1.density-scatter.py
  site/src/routes/[slug]/parity/2.density-scatter-with-hist.py
  site/src/routes/[slug]/parity/5.scatter-with-err-bar.py
  site/src/routes/[slug]/parity/6.scatter-with-err-bar.py
  site/src/routes/[slug]/parity/_3.density-scatter-hex.py
  site/src/routes/[slug]/parity/_4.density-scatter-hex-with-hist.py
  tests/test_powerups.py
  tests/test_scatter.py
Labels: plotly, parity, examples

#162 Fix `ruff` `NPY002`
  .pre-commit-config.yaml
  examples/make_assets/correlation.py
  examples/make_assets/histogram.py
  examples/make_assets/ptable.py
  examples/make_assets/relevance.py
  examples/make_assets/sankey.py
  examples/make_assets/scatter.py
  examples/make_assets/uncertainty.py
  pymatviz/uncertainty.py
  pyproject.toml
  site/src/routes/[slug]/+page.server.ts
  site/src/routes/[slug]/+page.svelte
  site/src/routes/[slug]/histograms/1.elements-hist.py
  site/src/routes/[slug]/parity/1.density-scatter.py
  site/src/routes/[slug]/parity/2.density-scatter-with-hist.py
  site/src/routes/[slug]/parity/5.scatter-with-err-bar.py
  site/src/routes/[slug]/parity/6.scatter-with-err-bar.py
  site/src/routes/[slug]/parity/_3.density-scatter-hex.py
  site/src/routes/[slug]/parity/_4.density-scatter-hex-with-hist.py
  site/src/routes/[slug]/ptable/1.ptable-heatmap.py
  site/src/routes/[slug]/ptable/2.ptable-heatmap-atomic-mass.py
  site/src/routes/[slug]/ptable/3.ptable-heatmap-percent.py
  site/src/routes/[slug]/ptable/4.ptable-heatmap-ratio.py
  tests/conftest.py
  tests/test_correlation.py
  tests/test_histograms.py
  tests/test_powerups.py
  tests/test_sankey.py
  tests/test_scatter.py
Labels: docs, linting

#163 Fix bad NPY002 migration
  examples/dataset_exploration/matbench/dielectric/explore_dielectric.py
  examples/dataset_exploration/matbench/expt_gap/explore_expt_gap.py
  examples/dataset_exploration/matbench/jdft2d/explore_jdft2d.py
  examples/dataset_exploration/matbench/log_g+kvrh/explore_log_g+krvh.py
  examples/dataset_exploration/matbench/perovskites/explore_perovskites.py
  examples/dataset_exploration/matpes/eda.py
  examples/dataset_exploration/wbm/explore_wbm.py
  examples/make_assets/ptable.py
  examples/make_assets/sankey.py
  examples/make_assets/symmetry.py
  examples/make_assets/uncertainty.py
  examples/matbench_dielectric_eda.ipynb
  examples/matbench_perovskites_eda.ipynb
  examples/mp_bimodal_e_form.ipynb
  examples/mprester_ptable.ipynb
  pymatviz/histograms.py
  pymatviz/scatter.py
  pymatviz/structure_viz.py
  pymatviz/sunburst.py
  pyproject.toml
  site/svelte.config.js
  tests/conftest.py
  tests/test_io.py
Labels: fix, examples

#165 Add `toggle_log_linear_y_axis` powerup
  assets/matbench-expt-gap-hist.svg
  assets/plot-histogram-ecdf.svg
  assets/ptable-scatters-parabola.svg
  assets/ptable-scatters-parity.svg
  examples/make_assets/histogram.py
  examples/make_assets/powerups.py
  pymatviz/histograms.py
  pymatviz/powerups.py
  readme.md
  tests/test_histograms.py
  tests/test_powerups.py
Labels: enhancement, plotly, fix

#166 Fix `density_scatter_plotly` metric annotation
  pymatviz/enums.py
  pymatviz/powerups.py
  pymatviz/scatter.py
  tests/conftest.py
  tests/test_powerups.py
Labels: testing, plotly, fix

#167 Add `plot_xrd_pattern()` for creating interactive XRD patterns with plotly
  assets/xrd-pattern-multiple.svg
  assets/xrd-pattern.svg
  examples/make_assets/xrd.py
  pymatviz/__init__.py
  pymatviz/xrd.py
  readme.md
  tests/files/xrd/Bi2Zr2O7-Fm3m-experimental-sqs.cif
  tests/files/xrd/mp-756175-Zr2Bi2O7.cif
  tests/test_xrd.py
Labels: enhancement, plotly, structure

#168 `plot_xrd_pattern` accept `DiffractionPattern | Structure` as input
  assets/xrd-pattern-multiple.svg
  assets/xrd-pattern.svg
  pymatviz/xrd.py
  tests/test_xrd.py
Labels: enhancement, plotly, xrd

#169 Fix and test `ptable_heatmap` text color logic
  examples/dataset_exploration/boltztrap_mp/explore_boltztrap_mp.py
  examples/dataset_exploration/camd_2022/explore_camd_2022.py
  examples/diatomics/plot.py
  examples/matbench_dielectric_eda.ipynb
  examples/matbench_perovskites_eda.ipynb
  pymatviz/correlation.py
  pymatviz/cumulative.py
  pymatviz/histograms.py
  pymatviz/io.py
  pymatviz/ptable.py
  tests/test_powerups.py
  tests/test_ptable.py
Labels: matplotlib, fix, ptable
