Repository janosh/pymatviz, pull requests merged in 2025-07, with the labels that each got.

#310 Fix plotly validators
  pymatviz/cluster/composition/plot.py
  pymatviz/ptable/plotly.py
  pyproject.toml
  tests/cluster/composition/test_plot.py
Labels: fix, deps

#311 MatterViz widgets
  .github/release.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release-widget-assets.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  assets/scripts/sunburst/chem_env_sunburst.py
  assets/scripts/treemap/chem_env_treemap.py
  assets/scripts/treemap/py_pkg_treemap.py
  changelog.md
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/__init__.py
  pymatviz/io.py
  pymatviz/keys.yml
  pymatviz/notebook.py
  pymatviz/process_data.py
  pymatviz/rainclouds.py
  pymatviz/scatter.py
  pymatviz/structure/helpers.py
  pymatviz/structure/plotly.py
  pymatviz/treemap/py_pkg.py
  pymatviz/widgets/__init__.py
  pymatviz/widgets/composition.py
  pymatviz/widgets/matterviz.py
  pymatviz/widgets/mime.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  pymatviz/widgets/web/theme-detection.ts
  pymatviz/widgets/web/vite.config.ts
  pyproject.toml
  readme.md
  site/package.json
  site/src/app.css
  site/src/app.html
  site/src/lib/Example.svelte
  site/src/routes/+layout.svelte
  site/src/routes/notebooks/+page.svelte
  site/src/routes/notebooks/[slug]/+page.server.ts
  site/src/routes/notebooks/[slug]/+page.svelte
  tests/keys-schema.yml
  tests/rdf/test_rdf_helpers.py
  tests/rdf/test_rdf_plotly.py
  tests/structure/test_structure_plotly.py
  tests/test_enums.py
  tests/test_io.py
  tests/test_notebook.py
  tests/test_pkg.py
  tests/test_process_data.py
  tests/treemap/test_py_pkg_treemap.py
  tests/widgets/conftest.py
  tests/widgets/test_composition_widget.py
  tests/widgets/test_matterviz.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
Labels: breaking, structure, feature

#315 Bump `matterviz`
  examples/widgets/jupyter_demo.ipynb
  examples/widgets/marimo_demo.py
  examples/widgets/vscode_interactive_demo.py
  pymatviz/widgets/composition.py
  pymatviz/widgets/structure.py
  pymatviz/widgets/trajectory.py
  pymatviz/widgets/web/anywidget.ts
  pymatviz/widgets/web/deno.jsonc
  pymatviz/widgets/web/theme-detection.ts
  tests/widgets/test_composition_widget.py
  tests/widgets/test_structure_widget.py
  tests/widgets/test_trajectory_widget.py
Labels: fix, notebook, widgets
